.progress-bar {
    $h: 2px;
    $w: 520px;
    height: $h;
    width: $w;
    /* background: #1b1b1b; */
    position: relative;
    @at-root .vertical #{&} {
        $h-v: 90px;
        height: $h-v;
        width: $h;
        left: 50%;
        bottom: 0;
        position: absolute;
        &::before{
            height: 90px;
            width: $h;
            top: auto;
            bottom: 0;
            background: #646464;
        }
        &::after{
            width: 18px;
            height: 100%;
            top: 0;
            left: -9px;
        }
        .loading{
            height: $h-v;
            width: $h;
            top: auto;
            bottom: 0;
            display: none;
        }
        .left {
            left: 0;
            top: auto;
            bottom: 0;
            width: 2px!important;
            min-height: 10px;
            // max-height: calc(100% - 10px);
            max-width: 2px;
        }
        .ball{
            transform: translate3d(2px, 0, 0);
            right: -2px;
        }
    }
    &::before {
        display: block;
        content: '';
        height: $h;
        width: $w;
        background: #1b1b1b;
        position: absolute;
        left: 0;
    }
    .loading {
        position: absolute;
        left: 0;
        top: 0;
        height: $h;
        background: #646464;
    }

    .left {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        background: #3097fd;
        max-width: calc(100% - 10px);
    }
    .ball {
        display: inline-block;
        width: 10px;
        height: 10px;
        overflow: hidden;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: -10px;
        cursor: pointer;
        transform: translate3d(0, -4px, 0);
    }
}
