@import "./lib/mixin.scss";
@import "./lib/reset.scss";
@import "./lib/common.scss";

.page-no-found-album {
  height: 685px;
  display: flex;
  align-items: center;
  justify-content: center;
  .img-con {
    display: flex;
    align-items: center;
    .img {
      width: 186px;
      height: 129px;
    }
    .desc {
      height: 86px;
      padding-left: 22px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 24px;
        color: #1E78CC;

      }
      p {
        font-size: 14px;
        color: #666666;
      }
      a {
        width: 80px;
        height: 24px;
        line-height: 24px;
        background: #33AAFF;
        border-radius: 2px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}